<div class="container">
  @if (documentService.document$ | async; as document) {
    <div
      #documentContainer
      class="document-viewer"
      [style.transform]="`scale(${zoomService.zoomLevel()})`"
    >
      <button
        class="document-viewer__action"
        matMiniFab
        matTooltip="Добавить аннотацию"
        (click)="addAnnotation()"
      >
        <mat-icon>add</mat-icon>
      </button>

      @for (page of document.pages; let first = $first; track page.number) {
        <div class="document-viewer__page">
          <img
            [ngSrc]="page.imageUrl"
            fill
            [alt]="page.number"
            [priority]="first"
          />
        </div>
      }

      @for (
        annotation of document.annotations;
        let i = $index;
        track annotation.id
      ) {
        <app-annotation
          #draggableComponent
          [style.top.px]="annotation.position.top"
          [style.left.px]="annotation.position.left"
          (mousedown)="annotationMoveService.onMouseDown($event, draggableComponent, scrollContainerEl)"
          [annotation]="annotation"
        ></app-annotation>
      }
    </div>
  }
</div>
