:host {
  position: absolute;
  width: 100%;
  max-width: 200px;
  padding: 8px;
  cursor: grab;
  user-select: none;
}

.annotation {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 4px;
    background-color: #ffd966;
    opacity: 0.5;
    z-index: 0;
  }

  &__text {
    position: relative;
    margin: 0;
    font-size: 14px;
  }

  &__remove {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #eee;
    font-size: 16px;
    color: #999;
    cursor: pointer;
  }

  &:active {
    cursor: grabbing;
  }
}
